.container {
  .header {
    border-bottom: 1px solid #b197fc;
    padding: 10px;
  }
  .content {
    .todo-list {
      margin: 0;
      padding: 0 10px;
    }
    .no-todos-section {
      .no-todos {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: #b197fc;
        i {
          font-size: 100px;
        }
      }
    }
  }
}
