<div class="container m-0 p-[10px]">
  <div class="header">
    <button class="primary-btn" (click)="createComponent(false)">Add Task</button>
  </div>
  <div class="content mt-4">
    <div class="row">
      <div class="col-md-7">
        <div class="no-todos-section" *ngIf="!todos.length">
          <div class="no-todos">
            <i class="bi bi-journal-x"></i>
            <h5>No Tasks available</h5>
          </div>
        </div>
        <ul class="todo-list">
          <app-todo-item *ngFor="let todo of todos" [todo]="todo" (sendTodo)="todoHandler($event)"></app-todo-item>
        </ul>
      </div>
      <div class="col-md-5">
        <ng-container #container></ng-container>
      </div>
    </div>
  </div>
</div>
