<div class="list-group">
  <a class="flex flex-row list-group-item list-group-item-action todo-item" (click)="todoHandler()">
    <div>
      <div class="todo-task">{{ todo.summary }}</div>
      <hr *ngIf="todo.label || todo.tag || todo.priority">
      <div class="flex">
        <span *ngIf="todo.label" class="pr-2 text-xs font-bold"><i class="bi bi-bookmarks"></i>- {{ todo.label }}</span>
        <div class="vr"></div>
        <span *ngIf="todo.tag" class="pr-2 text-xs font-bold"><i class="bi bi-tags"></i>- {{ todo.tag }}</span>
        <div class="vr"></div>
        <span *ngIf="todo.priority" class="pr-2 text-xs font-bold"><i class="bi bi-1-square"></i>- {{ todo.priority }}</span>
      </div>
    </div>
    <div class="justify-items-end">
      <span class="todo-status" [ngClass]="getStatusClass()">
        {{ todo.status | uppercase }}
      </span>
    </div>
  </a>
</div>