@import '../../../../assets/scss/variables';

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: $color-primary-light;
  background-color: $color-primary-lightest;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  hr {
    margin: 5px 0;
  }

  .todo-task {
    font-size: 14px;
    font-weight: bold;
  }

  .todo-status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;

    &.red-bg {
      background-color: #fa5252;
    }

    &.blue-bg {
      background-color: #00daff;
    }

    &.green-bg {
      background-color: #a9e34b;
    }
  }
}
