<div class="labels-section px-[10px]">
    <app-custom-collapse [formSetting]="labelFormSetting" [formInputs]="labelFormInputs"></app-custom-collapse>
    <app-custom-table [tableSetting]="labelTableSetting" [formInputs]="labelFormInputs"></app-custom-table>
</div>