@import '../../../../assets/scss/variables';

.todo-form {
  padding: 10px;
  border: 1px solid $color-primary-light;
  border-radius: 5px;

  .todo-form-header {
    display: flex;
    justify-content: space-between;
    
    h5 {
      font-weight: bold;
      color: $color-primary;
    }

    i {
      font-size: 20px;
      cursor: pointer;
    }
  }

  form {
    margin-top: 10px;

    .form-group {
      margin-bottom: 1rem;
      label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
      }
      input,
      textarea,
      select {
        border-radius: 5px;
        box-shadow: none;
      }

      span {
        a {
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;
          color: $color-primary;
        }
      }
    }
    button[type="submit"] {
      margin-top: 1rem;
      text-align: right;
    }
    .btn-section {
      display: flex;
      justify-content: space-between;
    }
  }
}
