<div class="todo-form" [@fadeInOut]>
  <div class="todo-form-header">
    <h5>{{ formTitle }}</h5>
    <i class="bi bi-x-circle" (click)="closeTodo()"></i>
  </div>
  <form #todoForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="name"
        [(ngModel)]="todo.summary"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select
        class="form-control form-control-sm"
        id="status"
        [(ngModel)]="todo.status"
        name="status"
        required
      >
        <option *ngFor="let s of status | keyvalue" value="{{s.value}}">
          {{s.value}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Label</label>
      <select
        class="form-control form-control-sm"
        id="label"
        [(ngModel)]="todo.label"
        name="label"
      >
        <option *ngFor="let l of labels" value="{{l.name}}">
          {{l.name}}
        </option>
      </select>
      <span><a [routerLink]="['/labels']" routerLinkActive="router-link-active" ><i class="bi bi-plus"></i>Add Label</a></span>
    </div>
    <div class="form-group">
      <label for="status">Tag</label>
      <select
        class="form-control form-control-sm"
        id="tag"
        [(ngModel)]="todo.tag"
        name="tag"
      >
        <option *ngFor="let t of tags" value="{{t.name}}">
          {{t.name}}
        </option>
      </select>
      <span><a [routerLink]="['/tags']" routerLinkActive="router-link-active" ><i class="bi bi-plus"></i>Add Tag</a></span>
    </div>
    <div class="form-group">
      <label for="status">Priority</label>
      <select
        class="form-control form-control-sm"
        id="priority"
        [(ngModel)]="todo.priority"
        name="priority"
      >
        <option *ngFor="let p of priorities" value="{{p.name}}">
          {{p.name}}
        </option>
      </select>
      <span><a [routerLink]="['/priorities']" routerLinkActive="router-link-active" ><i class="bi bi-plus"></i>Add Priority</a></span>
    </div>
    <div class="btn-section">
      <button
        type="button"
        class="secondary-btn"
        *ngIf="isEdit"
        (click)="deleteTodo(todo)"
      >
        delete
      </button>
      <button
        type="button"
        class="primary-btn"
        [disabled]="!todoForm.valid"
        (click)="saveTodo()"
      >
        Save
      </button>
    </div>
  </form>
</div>
