.primary-btn {
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    padding: 5px 20px;
    border-radius: 5px;
    color: $color-white;
    font-size: 14px;
    cursor: pointer;

    &:hover:enabled {
        background-color: $color-white;
        border: 1px solid $color-secondary;
        color: $color-secondary;
    }

    &[disabled] {
        opacity: 0.5;
    }
}

.secondary-btn {
    background-color: $color-tertiary;
    padding: 5px 20px;
    border-radius: 5px;
    color: $color-white;
    font-size: 14px;
    border: 1px solid $color-tertiary;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        border: 1px solid $color-tertiary;
        color: $color-tertiary;
    }
}

.tertiary-btn {
    padding: 5px 20px;
    border-radius: 5px;
    color: $color-tertiary;
    font-size: 14px;
    border: 1px solid $color-tertiary;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
    }
}