.calendar-section {
    .fc {
        .fc-button {
            &:focus {
                box-shadow: none;
            }
        }

        .fc-header-toolbar {
            .fc-button-primary {
                background-color: $color-secondary;
                padding: 5px 20px;
                border-radius: 5px;
                color: $color-white;
                font-size: 14px;
                border: 1px solid $color-secondary;

                &.fc-button-active {
                    background-color: $color-white;
                    color: $color-secondary;
                    border: 1px solid $color-secondary;
                }

                &[disabled] {
                    background-color: $color-secondary;
                    border: 1px solid $color-secondary;
                    color: $color-white;
                    opacity: 0.5;
                }

                &:hover:enabled {
                    background-color: $color-white;
                    color: $color-secondary;
                    border: 1px solid $color-secondary;
                }

                &:active:enabled {
                    background-color: $color-secondary;
                    padding: 5px 20px;
                    border-radius: 5px;
                    color: $color-white;
                    font-size: 14px;
                    border: 1px solid $color-secondary;
                    box-shadow: none;
                }

                &:focus:enabled {
                    box-shadow: none;
                }
            }

            .fc-button-group {
                .fc-button-primary:enabled {
                    &.fc-button-active {
                        background-color: $color-white;
                        color: $color-secondary;
                        border: 1px solid $color-secondary;

                        &:active:focus:enabled {
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        .fc-view-harness {
            .fc-col-header {
                background-color: #b197fc;

                .fc-col-header-cell {
                    .fc-col-header-cell-cushion {
                        color: $color-black;
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }

            .fc-daygrid-body {
                .fc-day {
                    .fc-daygrid-day-top {
                        .fc-daygrid-day-number {
                            color: #6741d9;
                            text-decoration: none;
                        }
                    }

                    .fc-daygrid-day-events {
                        .fc-event {
                            background-color: $color-secondary;
                            color: $color-white;

                            .fc-daygrid-event-dot {
                                border-color: $color-primary;
                            }
                        }
                    }

                    &.fc-day-today {
                        background-color: #d0bfff;
                    }

                    .fc-highlight {
                        background-color: #f3f0ff;
                    }
                }
            }

            .fc-timeGridWeek-view,
            .fc-timeGridDay-view {
                font-size: 14px;

                .fc-timegrid-cols {
                    .fc-day {
                        &.fc-day-today {
                            background-color: #d0bfff;
                        }

                        .fc-event {
                            background-color: $color-secondary;
                            color: $color-white;
                            box-shadow: none;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}