.date-time-section {
    .dropdown-menu {
        height: 225px;
        border-radius: 20px;
        inset: 5px auto auto 0px !important;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

        .ngb-dp-header {
            background-color: $color-white;
            border-radius: 20px;
            padding: 5px 0px;

            .ngb-dp-arrow {
                .ngb-dp-arrow-btn {
                    margin: -5px 0.5rem;

                    .ngb-dp-navigation-chevron {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .ngb-dp-navigation-select {
                .form-select {
                    font-size: 12px;
                    height: 24px;
                }
            }
        }

        .ngb-dp-content {
            .ngb-dp-month {
                .ngb-dp-weekdays {
                    background-color: $color-white;

                    .ngb-dp-weekday {
                        font-size: 12px;
                        color: $color-primary;
                        height: 1.5rem;
                        line-height: 1.5rem;
                    }
                }

                .ngb-dp-week {
                    .ngb-dp-day {
                        font-size: 12px;
                        height: 1.5rem;
                    }
                }
            }
        }
    }

    .timepicker {
        .ngb-tp {
            .ngb-tp-input-container {
                .ngb-tp-input {
                    box-shadow: none;

                    &:focus {
                        border-color: #ced4da;
                        ;
                    }
                }
            }
        }
    }
}