.pagination-section {
    .pagination {
        .page-item {
            margin-right: 10px;

            &.active {
                .page-link {
                    padding: 2px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    color: $color-white;
                }
            }

            .page-link {
                border: none;
                border-radius: 5px;
                padding: 2px 10px;
                border: 1px solid $color-primary;
                border-radius: 5px;
                color: $color-primary;
            }
        }
    }
}