<div class="custom-collapse">
    <div class="new-label-section p-[10px]">
        <button type="button" class="primary-btn new-label-btn" (click)="collapse.toggle()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            {{ formSetting.collapseBtn }}
        </button>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body">
                    <form class="custom-form" [formGroup]="customForm" (ngSubmit)="onSubmit(customForm)">
                        <div class="custom-form-input">
                            <ng-container *ngFor="let input of formInputs">
                                <label>
                                    {{ input.label }}
                                    <input
                                        [type]="input.type"
                                        class="form-control form-control-sm"
                                        [formControlName]="input.controlName!"
                                        [placeholder]="input.placeholder"
                                        [ngClass]="input.class!">
                                </label>
                            </ng-container>
                        </div>
                        <div class="custom-form-action">
                            <button type="button" class="tertiary-btn mr-[10px]"
                                (click)="isCollapsed = !isCollapsed">Cancel</button>
                            <button type="submit" [disabled]="customForm.invalid" class="primary-btn">{{ formSetting.saveBtn }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>