@import '../../../assets/scss/variables';

.custom-collapse {
    .new-label-section {

        .new-label-btn {
            margin-bottom: 15px;
        }

        .collapse {
            visibility: visible;
        }

        .card {
            border-color: $color-primary;

            .card-body {
                .custom-form {
                    display: flex;
                    align-items: end;

                    .custom-form-input {
                        display: flex;
                        align-items: center;
                        flex-grow: 1;

                        label {
                            font-weight: bold;
                            font-size: 12px;
                            margin-right: 15px;
                        }

                        input,
                        textarea,
                        select {
                            border-radius: 5px;
                            margin-top: 5px;
                            box-shadow: none;
                        }

                        .color-input {
                            max-width: 150px;
                            width: 150px;
                            height: 31px;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}