<div class="labels-section px-[10px]">
    <app-custom-collapse [formSetting]="priorityFormSetting" [formInputs]="priorityFormInputs"></app-custom-collapse>
    <app-custom-table [tableSetting]="priorityTableSetting" [formInputs]="priorityFormInputs"></app-custom-table>
</div>
