<div class="tags-section px-[10px]">
    <app-custom-collapse [formSetting]="tagFormSetting" [formInputs]="tagFormInputs"></app-custom-collapse>
    <app-custom-table [tableSetting]="tagTableSetting" [formInputs]="tagFormInputs"></app-custom-table>
</div>