<ul class="notes">
    <li>
        <div class="note" [style.background-color]="color">
            <div class="note-header text-right">
                <i class="bi bi-file-earmark-x" (click)="onDismiss($event)"></i>
            </div>
            <div class="note-body">
                <ng-content select=".title"></ng-content>
                <ng-content select=".content"></ng-content>
                <!-- <h4>Awesome title</h4>
                <p>The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> -->
            </div>
        </div>
    </li>
</ul>
