$color_1: #ffffff;
$color_2: #000;
$background-color_1: #23c6c8;
$background-color_2: #ed5565;
$background-color_3: #1ab394;
$background-color_4: #f8ac59;

ul.notes {
    li {
        margin: 0px 40px 50px 0px;
        float: left;
        list-style: none;

        div.note {
            text-decoration: none;
            color: $color_2;
            height: 250px;
            width: 300px;
            padding: 1em;
            border-radius: 10px;

            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
            }

            .note-header {
                i {
                    font-size: 18px;
                    cursor: pointer; 
                }
            }

            .note-body {
                height: 90%;
                .title {
                    font-weight: bold;
                }
            }
        }
    }
}

ul.tag-list {
    li {
        list-style: none;
    }
}

.lazur-bg {
    background-color: $background-color_1;
    color: $color_1;
}

.red-bg {
    background-color: $background-color_2;
    color: $color_1;
}

.navy-bg {
    background-color: $background-color_3;
    color: $color_1;
}

.yellow-bg {
    background-color: $background-color_4;
    color: $color_1;
}