.sticky-notes {
    .notes {
        .add-note-section {
            height: 250px;
            width: 300px;
            margin: 0px 40px 50px 0px;
            background-color: #e5dbff;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            i {
                font-size: 62px;
                color: #845ef7;
            }
        }
    }
}