<div class="sticky-notes">
    <div class="row">
        <div class="notes">
            <app-note
                *ngFor="let note of notes"
                (dismiss)="deleteNote($event)"
                (focusout)="updateNote($event)"
                [color]="note.bgColor!"
                [id]="note.id">
                <h5 
                    #title
                    class="title"
                    contenteditable="true"
                    maxlength="20"
                    appContenteditableMaxLength
                    [ngStyle]="titleStyle">{{ note.title }}</h5>
                <p 
                    class="content"
                    contenteditable="true"
                    maxlength="180"
                    appContenteditableMaxLength
                    [ngStyle]="contentStyle">{{ note.content }}</p>
            </app-note>
            <ul>
                <li class="add-note-section" (click)="addNoteTemplate()">
                    <i class="bi bi-file-earmark-plus"></i>
                </li>
            </ul>
        </div>
    </div>
</div>