<div class="custom-table-section card m-[10px]">
    <div class="my-3 pl-3 row flex items-center">
		<label for="table-complete-search" class="col-xs-3 col-sm-auto text-sm font-bold">Search:</label>
		<div class="col-xs-3 col-sm-auto">
			<input
				id="table-complete-search"
				type="text"
				class="form-control form-control-sm"
				name="searchTerm"
				[(ngModel)]="searchTerm"
			/>
		</div>
	</div>
    <table class="table mb-0">
        <thead>
            <tr>
                <th *ngFor="let col of tableSetting.columnDef" scope="col" [sortable]="col.propName" (sort)="onSort($event)">{{ col.name }}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!tableData.length">
                <td colspan="5">
                    <span class="no-records-text">We apologize, but there are no records to show.</span>
                </td>
            </tr>
            <ng-container *ngIf="tableData.length">
                <tr *ngFor="let row of tableData | slice: (page-1) * pageSize : page * pageSize | searchPipe: searchTerm">
                    <td width="150">
                        <div *ngIf="tableSetting.type === IDENTIFIER.LABELS" class="label-outer" [ngStyle]="{'--bg-color': row['color']}">
                            <span class="label-inner">
                                {{ row[tableSetting.columnDef![1].propName!] }}
                            </span>
                        </div>
                        <div *ngIf="tableSetting.type === IDENTIFIER.TAGS" class="tag-outer">
                            <a class="tag-inner" [ngStyle]="{'--bg-color': row['color']}">
                                {{ row[tableSetting.columnDef![1].propName!] }}
                            </a>
                        </div>
                        <div *ngIf="tableSetting.type === IDENTIFIER.MILESTONES" class="flag-outer">
                            <div class="flag-inner" [ngStyle]="{'--bg-color': row['color']}">
                                <span class="flag-inner__text">
                                    {{ row[tableSetting.columnDef![1].propName!] }}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="tableSetting.type === IDENTIFIER.PRIORITIES" class="priority-outer">
                            <span class="priority-inner" [ngStyle]="{'--bg-color': row['color']}">
                                {{ row[tableSetting.columnDef![1].propName!] }}
                            </span>
                        </div>
                    </td>
                    <ng-container *ngFor="let data of tableSetting.columnDef | slice:1; let i=index;">
                        <td width="200" *ngIf="row && !row['isEdit']">
                            <div *ngIf="data.propName === 'color'">
                                <span class="color-info" [style.background]="row[data.propName!]"></span>
                            </div>
                            <div *ngIf="data.propName !== 'color'">
                                {{ row[data.propName!] }}
                            </div>
                        </td>
                        <td width="200" *ngIf="row && row['isEdit']">
                            <div>
                                <input
                                    class="form-control form-control-sm"
                                    [type]="formInputs[i].type"
                                    [ngClass]="formInputs[i].class"
                                    [(ngModel)]="row[data.propName!]"
                                    [value]="row[data.propName!]">
                            </div>
                        </td>
                    </ng-container>
                    <td width="220">
                        <div class="d-flex justify-content-start" *ngIf="!row['isEdit']">
                            <button
                                class="primary-btn mr-4"
                                (click)="editData(row)">
                                Edit
                            </button>
                            <button
                                class="secondary-btn"
                                (click)="deleteData(row)">
                                Delete
                            </button>
                        </div>
                        <div class="d-flex justify-content-start" *ngIf="row['isEdit']">
                            <button
                                class="primary-btn mr-4"
                                (click)="updateData(row)">
                                Update
                            </button>
                            <button
                                class="secondary-btn"
                                (click)="cancelData(row)">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>  
</div>

<div class="d-flex justify-content-between pagination-section p-2">
    <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        size="sm"
    >
    </ngb-pagination>
</div>  