@import '../../../assets/scss/variables';

.custom-table-section {
    border-bottom: 0;
    border-color: $color-primary;

    .table {
        thead {
            font-size: 14px;
            background-color: $color-primary-lightest;
            border-bottom: 1px solid $color-primary;

            tr {
                th {
                    cursor: pointer;
                }
            }
        }

        tbody {
            tr {
                font-size: 14px;

                &:last-child {
                    border-color: $color-primary;
                }

                td {
                    vertical-align: middle;

                    .no-records-text {
                        color: $color-primary;
                        font-weight: bold;
                    }

                    .color-info {
                        width: 100px;
                        height: 20px;
                        display: flex;
                        border-radius: 5px;
                    }
                }

                .label-outer {
                    height: 0;
                    border-left: 12px solid transparent;
                    border-bottom: 12px solid var(--bg-color);
                    border-top: 12px solid var(--bg-color);
                    font-size: 12px;
                    position: absolute;
                    padding: 0px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                    margin: -10px 0px;

                    .label-inner {
                        color: $color-black;
                        position: relative;
                        top: -10px;
                        text-align: center;
                        right: 0;
                    }
                }

                .tag-outer {
                    .tag-inner {
                        background-color: var(--bg-color);
                        border-radius: 3px 0 0 3px;
                        color: $color-white;
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 15px 0 20px;
                        position: relative;
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: bold;

                        &:before {
                            background: $color-white;
                            border-radius: 10px;
                            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                            content: '';
                            height: 6px;
                            left: 10px;
                            position: absolute;
                            width: 6px;
                            top: 10px;    
                        }

                        &:after {
                            background: $color-white;
                            border-bottom: 13px solid transparent;
                            border-left: 10px solid var(--bg-color);
                            border-top: 13px solid transparent;
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }

                .flag-outer {
                    display: flex;
                    align-items: center;

                    .flag-inner {
                        position: relative;
                        display: inline-block;
                        height: 20px;
                        width: 80px;
                        background-color: var(--bg-color);
                        color: $color-white;
                        font-size: 12px;
                        border-radius: 5px;
                        text-align: center;
                        line-height: 20px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        
                        &::before {
                          content: '';
                          position: absolute;
                          left: -7px;
                          top: 50%;
                          transform: translateY(-50%);
                          border-top: 10px solid transparent;
                          border-right: 10px solid var(--bg-color);
                          border-bottom: 10px solid transparent;
                        }
                        
                        &__text {
                          display: block;
                          margin: 0 auto;
                        }
                      }
                  }

                  .priority-outer {
                    .priority-inner {
                        padding: 2px 10px;
                        color: var(--bg-color);
                        border: 1px solid var(--bg-color);
                        font-size: 12px;
                        border-radius: 5px;
                    }
                  }
            }
        }
    }
}