<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" role="navigation" class="sidenav" opened>
    <div class="sidenav-title">
      <div class="text-short">Get Things Done</div>
      <div class="logo-text">
        <div class="text-long">A minimal task Management hub</div>
      </div>
    </div>
    <div class="side-nav">
      <ul class="menu">
        <li class="nav-item" *ngFor="let menu of menus">
          <a class="nav-link" href="#">{{ menu.label }}</a>
          <ul class="sub-menu">
            <li class="nav-item" *ngIf="menu.children">
              <ng-container *ngFor="let submenu of menu.children">
                <a
                  class="nav-link"
                  routerLink="{{ submenu.link }}"
                  routerLinkActive="active"
                >
                  <i class="{{ submenu.icon }}"></i> {{ submenu.label }}
                </a>
              </ng-container>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar">
      <!-- <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
