@import '../assets/scss/variables';

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 300px;
    height: 100%;
    background-color: $color-white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    .sidenav-title {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: $color-primary;
      font-size: 32px;
      position: relative;
      font-family: 'Open Sans', sans-serif;

      .text-short {
        font-weight: bold;
      }

      .logo-text {
        position: absolute;
        bottom: 0;
        left: 95px;
        font-style: italic;
        .text-long {
          font-size: 12px;
          color: $color-secondary;
        }
      }
    }

    .side-nav {
      margin-top: 10px;
      margin-left: 15px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .nav-item {
          margin-bottom: 10px;

          .nav-link {
            padding: 10px;
            text-decoration: none;
            color: inherit;
            font-size: 12px;
            font-weight: bold;
            cursor: default;
          }

          .sub-menu {

            .nav-item {
              margin-left: 10px;

              .nav-link {
                padding: 5px 10px;
                margin: 5px 10px;
                text-decoration: none;
                color: inherit;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

                i {
                  padding-right: 10px;
                }

                &.active {
                  background-color: $color-primary;
                  color: $color-white;
                  border-radius: 5px;
                }

                &:hover {
                  background-color: #d0bfff;
                  color: $color-black;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  mat-sidenav-content {
    background-color: $color-white;

    mat-toolbar {
      background-color: $color-white;
      padding: 0;
    }
  }
}