.container {
    .side-panel {
        top: 1.5rem;
        right: 1.5rem;
        width: 400px;
        box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.25);
        bottom: 1.5rem;
        border-radius: 20px;

        .offcanvas-header {
            .offcanvas-title {
                color: #845ef7;
                font-weight: bold;
            }
        }

        .hidden {
            visibility: hidden;
        }

        form {
            .form-group {
                margin-bottom: 1rem;

                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-size: 12px;
                }

                input,
                textarea,
                select {
                    border-radius: 5px;
                    box-shadow: none;
                }

                .date-time-section {
                    display: flex;
                    justify-content: space-around;
                }
            }

            button[type="submit"] {
                margin-top: 1rem;
                text-align: right;
            }

            .btn-section {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}