<div class="container">
    <div #offcanvas class="offcanvas offcanvas-end side-panel" tabindex="-1" id="offcanvasRight" data-bs-backdrop="false"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ offCanvasTitle }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form #eventForm="ngForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control form-control-sm" id="title" [(ngModel)]="events.title"
                        name="title" required />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control form-control-sm" id="description" name="form-control-sm"
                        [(ngModel)]="events.description" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="startDate">Starts At</label>
                    <div class="date-time-section">
                        <input
                            class="form-control form-control-sm mr-[10px]"
                            name="startDate"
                            #eventStartDate="ngModel"
                            [(ngModel)]="startDate"
                            ngbDatepicker
                            #d1="ngbDatepicker"
                            (click)="d1.toggle()"
                            (dateSelect)="onDateSelect($event);"
                            required
                        />
                        <ngb-timepicker
                            class="timepicker"
                            name="startTime"
                            [(ngModel)]="startTime"
                            [spinners]="false"
                            [hourStep]="startTime.hour!"
                            [minuteStep]="startTime.minute!"
                            ></ngb-timepicker>
                    </div>  
                </div>
                <div class="form-group">
                    <label for="endDate">Ends At</label>
                    <div class="date-time-section">
                        <input
                            class="form-control form-control-sm mr-[10px]"
                            name="endDate"
                            #eventEndDate="ngModel"
                            [(ngModel)]="endDate"
                            ngbDatepicker
                            #d2="ngbDatepicker"
                            (click)="d2.toggle()"
                            (dateSelect)="onDateSelect($event);"
                            required
                        />
                        <ngb-timepicker
                            class="timepicker"
                            name="endTime"
                            [(ngModel)]="endTime"
                            [spinners]="false"
                            [hourStep]="endTime.hour!"
                            [minuteStep]="endTime.minute!"
                            ></ngb-timepicker>
                    </div>  
                </div>
                <div class="btn-section">
                    <button 
                        type="button"
                        class="secondary-btn"
                        *ngIf="isEdit">
                        delete
                    </button>
                    <button 
                        type="button"
                        class="primary-btn"
                        data-bs-dismiss="offcanvas"
                        [disabled]="!eventForm.valid || !startDate || !endDate || !startTime || !endTime"
                        (click)="saveEvent()">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>