<div class="labels-section px-[10px]">
    <app-custom-collapse [formSetting]="milestoneFormSetting" [formInputs]="milestoneFormInputs"></app-custom-collapse>
    <app-custom-table [tableSetting]="milestoneTableSetting" [formInputs]="milestoneFormInputs"></app-custom-table>
</div>
