.container {

    .event-header {
        border-bottom: 1px solid #b197fc;
    }

    .no-events-section {
        .no-events {
            width: 50%;
            margin: 20px auto;
            text-align: center;
            color: #b197fc;

            i {
                font-size: 100px;
            }
        }
    }

    .action-items {
        display: flex;
        justify-content: space-evenly;

        .edit-btn {
            border: 1px solid #845ef7;
            padding: 2px 15px;
            border-radius: 5px;

            &:hover {
                background-color: #845ef7;
                color: #fff;
            }
        }

        .delete-btn {
            border: 1px solid #F75E84;
            padding: 2px 15px;
            border-radius: 5px;

            &:hover {
                background-color: #F75E84;
                color: #fff;
            }
        }
    }

    .table {
        thead {
            th {
                font-size: 14px;
                font-weight: bold;
                background-color: #b197fc;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }

                &.actions {
                    text-align: center;
                }
            }
        }

        tbody {
            td {
                font-size: 14px;

                &.title {
                    width: 250px;
                    font-weight: bold;
                }
                &.description {
                    width: 400px;
                }
            }
        }
    }
}