<div class="container m-0 p-[10px]">
    <div class="event-header p-[10px]">
        <div class="header">
            <button
                type="button"
                class="primary-btn"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
                (click)="openOffCanvas(false)">
                Add Event
            </button>
        </div>
    </div>
    <div class="no-events-section" *ngIf="!events.length">
        <div class="no-events">
            <i class="bi bi-calendar-x"></i>
            <h5>No Events Available</h5>
        </div>
    </div>
    <table class="table mt-[20px]" *ngIf="events.length">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
                <th class="actions" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let event of events">
                <td class="title">{{ event.title }}</td>
                <td class="description">{{ event.description }}</td>
                <td>{{ event.start | date: 'short' }}</td>
                <td>{{ event.end | date: 'short' }}</td>
                <td>
                    <div class="action-items">
                        <button
                            class="edit-btn"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight"
                            (click)="openOffCanvas(true, event)">
                            Edit
                        </button>
                        <button class="delete-btn" (click)="deleteEvent(event)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-side-panel [isEdit]="isEdit" [eventDetails]="singleEvent"></app-side-panel>