/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'assets/scss/variables';
@import 'assets/scss/calendar';
@import 'assets/scss/datepicker';
@import 'assets/scss/button';
@import 'assets/scss/pagination';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

[contenteditable] {
  &:focus-visible {
    outline: none;
    background-color: RGBA(243, 240, 255, 0.5);
  }
}

button {
  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: none;
  }
}